.carousel-caption .tituno{
    color: #fb5850;
    font-size: 17px;
    font-family: 'Outfit',sans-serif; 
}
.carousel-caption .titdos{
    font-family: "Jost",Sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #060815; 
}
.carousel-caption .tittres{
    color: #6b6b6b;
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
}

.carousel-item  .moverb{
    margin-bottom: 19%;
}
