.cajap{      
    box-shadow: 9px 9px 5px #6b6b6b3a;
    background-color: #fff;
    padding: 5px;
    height: 290px;
    border: 2px solid #fff;
    opacity: 0.7;   
    border-radius: 50px;
}
.cajap:hover{
    opacity: 1.8;
}
.carrito{
    color: #f2543f;
    font-size: 30px; 
    font-weight: bold;      
    font-family: 'Outfit',sans-serif;   
    text-align: center;
    
}


.titpp{
    color: #fb5850;
    font-size: 17px;
    font-family: 'Outfit',sans-serif; 
    text-align: center;
}

.titdp{
    color: #6b6b6b;
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    text-align: center;
}