#main-header .d-flex{       
    font-family: 'Outfit', sans-serif;
    /* background-image:url(../assets/imagen.jpg);*/
} 
.nav .colorl{
    color: #0d102b; 
    font-size: 17px;
}
.text-end .colorb{
    border-radius: 50px;
    background-color: #242879;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 13px 31px;
}